@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar tipis */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Chrome, Edge, Safari */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.8); /* gray-400 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}
